
<!-- Remplacer partout CodeProjet par le nom court condensé que vous avez choisi dans le fichier précédent  --> 
<!-- Changer ici le nom de votre projet  -->
<!-- Pointer ici vers la même image choisie précédemment pour illustrer votre projet  -->
<!-- Mettre une description du projet -->
<!-- Ajouter des illustrations, des vidéos, ... Avec légende. Rajouter du texte si nécessaire. -->
<!-- Enfin, dans la denière div : pointez éventuellement vers votre rapport et/ou présentation. Supprimez les lignes <a> inutilisées. -->



    <div class="w3-center w3-light-grey" style="padding:1px;"> <p><b>CairModQGIS</b></p></div>

    <div style="width:100%;margin:0;height:75vmax;">
        <iframe src="./CairModQGIS_frame.html" allowfullscreen="true" style="width:100%;height:100%;"></iframe>
    </div>